extends layout

block main
  div(data-ref="#edit")
  form#editform.partial.unload-warn(method='post',
  action='/file/' + id + '/edit')
    table.grid(width='100%')
      tr.top.border-bottom
        td(width='49.5%')
          textarea#text.focus.field.hollow.autosize(
          name='text',
          cols='80',
          rows='24',
          data-load-into='#preview',
          data-url='/render')= text
        td.sep(width='1%').no-mobile-screen
        td(width='49.5%').no-mobile-screen
          #preview.remote-fragment.pad!= html
  script(src="/channel/bcsocket.js")
  script(src="/share/share.js")
  script(src="/share/textarea.js")
  script.
    $.scalpel.queue['#text'] = function() {
      var id = $.sha256(window.location.href);
      var textarea = this;



      sharejs.open(id, 'text', function(error, doc) {

        console.log(doc.snapshot.length);

        doc.del(0, doc.snapshot.length)

        doc.insert(0, '#{text}')

        doc.attach_textarea(textarea);
        doc.on("change", function(){console.log(doc)})

        window.onbeforeunload = function(){
          $("#editform").submit();
        }



      });
    };