extends layout

block main
  div(data-ref="#edit")
  form#editform.partial.unload-warn(method='post',
  action='/file/' + id + '/edit')
    table.grid(width='100%')
      tr.top.border-bottom
        td(width='49.5%')
          textarea#text.focus.field.hollow.autosize(
          name='text',
          cols='80',
          rows='24',
          data-load-into='#preview',
          data-url='/render')= text
        td(width='49.5%').no-mobile-screen
          #preview.remote-fragment.pad!= html
    .submits.centered.pad
      button.btn.primary(type='submit')
        i.icon-ok
        span= __('Save')
      a.btn(href='#{relPath}.html')
        i.icon-eye-open
        span= __('View page')