.row
  .span-3 &nbsp;
  .span-6
    h2= __("Create file")
    form.partial.validate(method="post", action="/file/" + id + "/new")
      label
        h3= __("Title.")
        input.field.focus(type="text", name="title")
      label
        h3= __("Access rights.")
        select.select2(name="state")
          option.field(value="private")= __('Private')
          option.field(value="invite")= __('Access by invite')
          option.field(value="public")= __('Public')
      p.centered
        button.btn.primary(type="submit")= __("Create document")
