if user
  #sidebar
    a.pad.avatar(href='/')
      img(src='http://gravatar.com/avatar/' + email + '?s=200&d=identicon')
    .nav
      a.noline(href="/docs")= __("My documents")
      a.noline(href="/shared")= __("Shared with me")

      if admin
        a.noline(href="/admin/docs")= __("Documents")
        a.noline(href="/admin/users")= __("Users")
      hr.dotted.margin-side

      a.noline(href="/user/" + user._id + "/settings")= __("User settings")