if user
  #sidebar
    a.pad.avatar(href='/')
      img(src=cdn('/img/imgres.jpg'))
    .nav
      a.noline(href="/docs")= __("My documents")
      a.noline(href="/shared")= __("Shared with me")

      if admin
        a.noline(href="/admin/docs")= __("Documents")
        a.noline(href="/admin/users")= __("Users")
