extends layout

block main
  if (docs)

    if (docs.children.length > 0)
      mixin mkstructure(root, prefix)

        if (prefix == "")
          prefix = root.title
        else
          prefix = prefix + "-" + root.title
          prefix = prefix.replace("/", "-")
          prefix = prefix.replace(".", "-")

        if (root.children)
          li.no-list.relative
            i.icon-folder-open
            span: a.noline.black(href="javascript:;",
            data-switch="#"+prefix)= root.title + "/"
            div.dropdown-menu.dropdown(id=prefix)
              a(href="/docs/new-dir/" + root.url
              , rel="popup")= __("Create directory")
              a(href="/docs/rename-dir/" + root.url
              , rel="popup")= __("Rename directory")
              a(href="/docs/delete-dir/" + root.url
              , rel="popup")= __("Delete directory")
              hr.dotted
              a(href="/docs/new-file/" + root.url
              , rel="popup")= __("Create file")


          ul
            each val in root.children
              mixin mkstructure(val, prefix)
        else
          li.relative
            i.icon-file
            span: a(href="javascript:;",
            data-switch="#" + prefix)= root.title
            div.dropdown-menu.dropdown(id=prefix)
              a(href='/docs/rename-file/' + root.url,
              rel="popup")= __("Rename file")
              hr.dotted
              a(href='/docs/delete-file/' + root.url,
              rel="popup")= __("Delete file")

      mixin mkstructure(docs, "")
    else
      h3= __("User's folder")+ " " + docs.title
      p.kicker= __('You have no documents under your control. Start by creating one.')
      a(href="/docs/new-file/"+user.name, rel="popup")= __("Create new document")
      span= __(" or ")
      a(href="/docs/new-dir/"+user.name, rel="popup")= __("create new directory")