extends layout

block main
  if (docs)
    if (docs.children.length > 0)
      mixin mkstructure(root, elems, prefix)

        if (prefix == "")
          prefix = elems[root.file].title
        else
          prefix = prefix + "-" + elems[root.file].title
          prefix = prefix.replace("/", "-")
          prefix = prefix.replace(".", "-")

        if (root.children)
          li.no-list.relative
            i.icon-folder-open
            span: a.noline.black(href="javascript:;",
            data-switch="#"+prefix)= elems[root.file].title + "/"
            div.dropdown-menu.dropdown(id=prefix)
              a(href="/folder/"+elems[root.file]._id + "/new"
              , rel="popup")= __("Create directory")
              a(href="/folder/" + elems[root.file]._id + "/rename"
              , rel="popup")= __("Rename directory")
              a(href="/folder/" + elems[root.file]._id + "/delete"
              , rel="popup")= __("Delete directory")
              hr.dotted
              a(href="/file/"+elems[root.file]._id + "/new"
              , rel="popup")= __("Create file")

          ul
            each val in root.children
              mixin mkstructure(val, elements, prefix)
        else
          li.relative
            i.icon-file
            span: a(href="javascript:;",
            data-switch="#" + prefix)= elems[root.file].title
            div.dropdown-menu.dropdown(id=prefix)
              a(href='/file/' + elems[root.file]._id)= __("Preview file")
              a(href='/file/' + elems[root.file]._id + '/edit')= __("Edit file")
              a(href='/file/' + elems[root.file]._id + '/settings')= __("Access settings")
              a(href='/file/' + elems[root.file]._id + '/rename',
              rel="popup")= __("Rename file")
              a(href='/file/' + elems[root.file]._id + '/delete',
              rel="popup")= __("Delete file")

      mixin mkstructure(docs, elements, "")
    else
      h3= __("User's folder")+ " " + user.name
      p.kicker= __('You have no documents under your control. Start by creating one.')
      a(href="/file/"+ docs.file + "/new"
      , rel="popup")= __("Create new document")
      span= __(" or ")
      a(href="/folder/"+ docs.file + "/new"
      , rel="popup")= __("create new directory")